:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a.default {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  border-bottom: 1px solid white;
}

html {
  background: linear-gradient(90deg, #17b5ee 0%, #a356e0 85.74%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background: linear-gradient(180deg, rgba(30, 39, 80, 0) 0%, #1e2750 80%);
  padding-bottom: 60px;
}

h1 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 6px;
}
